<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Scripts/App/ExternalPlugins/loading-bar.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        [ng-click],
        [data-ng-click],
        [x-ng-click] {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/AAA">Foro</a>
            </div>
            <div ng-controller="menuPrincipal" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#Inicio">Inicio</a></li>
                    <li><a href="#Cursos">Cursos</a></li>
                    <li><a ng-show="!usuario.logged" href="#Registro">Registrarse</a></li>
                    <li><a ng-show="!usuario.logged" href="#Login">Iniciar Sesión</a></li>
                    <li><a ng-show="usuario.logged" href="#MisCursos">Mis Cursos</a></li>
                    <li><a ng-show="usuario.logged" ng-bind="usuario.nombre"></a></li>
                    <li><a ng-show="usuario.logged" href="#Panel" acceso="Administrador">Mi panel de control</a></li>
                    <li><a ng-show="usuario.logged" ng-click="LogOut()">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/App/AppGlobalConfig.js"></script>
    <script src="~/Scripts/App/Interceptors/AuthInterceptor.js"></script>

    <script src="~/Scripts/App/ExternalPlugins/loading-bar.js"></script>
    <script src="~/Scripts/App/ExternalPlugins/angular-local-storage.min.js"></script>
    <script src="~/Scripts/App/App.js"></script>
    <script src="~/Scripts/App/Interceptors/InterceptorRutasAuth.js"></script>
    <script src="~/Scripts/App/Services/CursosService.js"></script>
    <script src="~/Scripts/App/Services/LoginService.js"></script>
    <script src="~/Scripts/App/Directives/MenuAuthDirective.js"></script>
    <script src="~/Scripts/App/Controllers/MenuPrincipal.js"></script>
    <script src="~/Scripts/App/Controllers/CabeceraController.js"></script>
    <script src="~/Scripts/App/Controllers/RegistroController.js"></script>
    <script src="~/Scripts/App/Controllers/LoginController.js"></script>
    <script src="~/Scripts/App/Controllers/InicioController.js"></script>
    <script src="~/Scripts/App/Controllers/CursosController.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
